// Sass variables declared here will be available in all <style>
// declarations because they are imported as additionalData in vue.config.js
$color-primary: #024059;
$color-border: #b3b3b3;
$color-red: #c21a1a;
$color-green: #197353;
$color-white: #fff;
$color-black: #000;
